# VITE_APP_TITLE='Digital Profile'
# VITE_BASE_API_URL='https://kageshwori.soft-acc.com'
# VITE_CLIENT_CODE=kageshwori
# VITE_BEARER_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6IjIiLCJqdGkiOiI2NmVhZTQzYS1hNDU3LTQxOTAtYTQ1Zi00MWFkMzdlNWFkZDgiLCJjb21wYW55Y29kZSI6ImthZ2UiLCJ1c2VybmFtZSI6ImZhY2Vib29rIiwidXNlcmdyb3VwaWQiOiIyIiwidXNlcmdyb3VwY29kZSI6IlNBIiwiZW1wbG95ZWVpZCI6IjE5IiwiZGVwYXJ0bWVudGNvZGUiOiIxMDAyIiwibW9kdWxlIjoibm9ybWFsIiwiZXhwIjoxNzMyMDQwMzIzLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjYxOTU1IiwiYXVkIjoiaHR0cDovL2xvY2FsaG9zdDo0MjAwIn0.Sj9qwP0PopQ77udYnJmZsvVDu0SeFbSRIQY3fXw0p3o
# VITE_APP_HEADING='Kageshwori Municipality'
# VITE_APP_SUBHEADING='Digital Profile'
VITE_APP_ADDRESS='Bagmati Province'
VITE_APP_MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoiaGltYWxheWFuLXNhbSIsImEiOiJjbTNtcxxWx6bDcwejhpMmxzZHYzM2FwbG00In0.n0zJmjyEcIbDreq9H7gCYw
VITE_APP_MAPBOX_STYLE_LINK=mapbox://styles/himalayan-sam/cm4dt9xxdw800wl01r11i6g5kuq

#New .env VITE CODE
VITE_APP_TITLE='Land Degradation Monitoring MIS System'
VITE_BASE_API_URL='https://kageshwori.soft-acc.com'
VITE_CLIENT_CODE=kageshwori
VITE_BEARER_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6IjIiLCJqdGkiOiI2NmVhZTQzYS1hNDU3LTQxOTAtYTQ1Zi00MWFkMzdlNWFkZDgiLCJjb21wYW55Y29kZSI6ImthZ2UiLCJ1c2VybmFtZSI6ImZhY2Vib29rIiwidXNlcmdyb3VwaWQiOiIyIiwidXNlcmdyb3VwY29kZSI6IlNBIiwiZW1wbG95ZWVpZCI6IjE5IiwiZGVwYXJ0bWVudGNvZGUiOiIxMDAyIiwibW9kdWxlIjoibm9ybWFsIiwiZXhwIjoxNzMyMDQwMzIzLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjYxOTU1IiwiYXVkIjoiaHR0cDovL2xvY2FsaG9zdDo0MjAwIn0.Sj9qwP0PopQ77udYnJmZsvVDu0SeFbSRIQY3fXw0p3o
VITE_APP_HEADING='Thakre Rural Municipality'
VITE_APP_SUBHEADING='Bagmati Province, Dhading, Nepal'
VITE_APP_TITLE='Office Of Village Executive'