VITE_APP_TITLE='Office Of Village Executive'
VITE_APP_HEADING='Thakre Rural Municipality'
VITE_APP_SUBHEADING='Bagmati Province, Dhading, Nepal'
VITE_BASE_API_URL='https://your-api-url-here'
VITE_CLIENT_CODE=your_client_code_here
VITE_BEARER_TOKEN=your_token_here
VITE_APP_ADDRESS='Bagmati Province'
VITE_APP_MAPBOX_ACCESS_TOKEN=your_mapbox_token_here
VITE_APP_MAPBOX_STYLE_LINK=your_mapbox_style_link_here
VITE_CARTO_API_KEY=your_carto_api_key_here
